#botoesAgenda a{
    width: 300px;
    height: 90px;
    margin-bottom: 10px;
    margin-left: 20px;
    align-items: center;
    align-content: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#botoesAgenda{
    margin-top: 150px;
}

#agenda{
    margin-left: 50px;
    
}
#filtros{
    margin-left: 50px;
    margin-top: 50px;
}
.tableAgenda{
    margin-bottom: 50px;
}
#cabecalho h1{
    padding:0px;
    margin:0px;
    margin-top: 10px;
   
}
#cabecalho{
    padding-top: 5px;
    padding-bottom: 10px;
}
.tableAgenda td, .tableAgenda th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }


